@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light mode background */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #121212 !important; /* Dark mode background */
  color: #cbd5e0; /* Dark mode text color */
}


.header, .footer {
  background-color: #ffffff;
}

.dark .header, .dark .footer {
  background-color: #1f2937; /* רקע כהה לכותרות ולפוטר */
}

h1, h2, h3, h4, h5, h6 {
  color: #2d3748; /* צבע לכותרות במצב רגיל */
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
  color: #ffffff; /* צבע לכותרות במצב כהה */
}

/* התאמות לסליידר */
.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* רקע כהה לכפתורים */
  border-radius: 50%; /* עיגול הכפתור */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.dark .slick-prev, .dark .slick-next {
  background-color: rgba(255, 255, 255, 0.5); /* רקע בהיר לכפתורים במצב כהה */
}

.slick-prev:hover, .slick-next:hover {
  transform: scale(1.1); /* הגדלה קלה בהנפת עכבר */
  opacity: 1;
}


